<!-- loading static and including navbar start -->
{% load static %} {% include 'navbar.html' %}
<div class="container-fluid bg-primary py-5 bg-header">
  <div class="row py-5">
    <div class="col-12 pt-lg-5 mt-lg-5 text-center">
      <h1 class="display-4 text-white animated zoomIn">Download Page</h1>
      <!-- <a href="" class="h5 text-white">Home</a>
            <i class="far fa-circle text-white px-2"></i>
            <a href="" class="h5 text-white">Services</a> -->
    </div>
  </div>
</div>
<!-- loading static and including navbar end -->


<!-- Tally Products List Start here -->
<div class="container-fluid " style="background-color: #e7eaf6" data-wow-delay="0.1s">
    <br><br><br>
    <div class="container ">
      <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px">
        <h5 class="fw-bold text-primary text-uppercase">Tally 4.1v</h5>
      </div>
      <div class=" text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px">
        <p class="mb-0">
          Experience a new-age business management software for new-age businesses. Now, with simplified MSME payments, e-commerce report in GSTR-1, intuitive report dashboards, and more.
        </p>
      </div>
  
      <!-- Download Sections in a row -->
      <div class="row justify-content-center">
        <!-- First Download Section -->
        <div class="col-md-4 mb-4 text-center">
          <div class="bg-light rounded py-4 px-5">
            <h4 class="text-primary mb-1">Tally Prime 4.1</h4>
            <a href="{% url 'downloadtp' %}" class="btn btn-primary py-2 px-4 mt-4">Download</a>
          </div>
        </div>
  
        <!-- Second Download Section -->
        <div class="col-md-4 mb-4 text-center">
          <div class="bg-light rounded py-4 px-5">
            <h4 class="text-primary mb-1">Tally Prime 4.1 (Edit Log)</h4>
            <a href="{% url 'downloadtpel' %}" class="btn btn-primary py-2 px-4 mt-4">Download</a>
          </div>
        </div>
      </div>
  
      <br /><br /><br /><br /><br /><br />



<!-- including downtowndemo start -->
 {% include 'downtowndemo.html'%}
<!-- including downtowndemo end -->


<!-- including contactinfo start -->
 {%include 'contactinfo.html'%}
<!-- including contactinfo end -->




<!-- including footer start -->
{% include 'footer.html' %}
<!-- including footer end -->
