<!-- loading static and including navbar starts here -->
{% load static %} {% include 'navbar.html' %}
<div class="container-fluid bg-primary py-5 bg-header">
  <div class="row py-5">
      <div class="col-12 pt-lg-5 mt-lg-5 text-center">
          <h1 class="display-4 text-white animated zoomIn">Tally Prime</h1>
          <!-- <a href="" class="h5 text-white">Home</a>
          <i class="far fa-circle text-white px-2"></i>
          <a href="" class="h5 text-white">Services</a> -->
      </div>
  </div>
</div>
</div>
<!-- loading static and including navbar ends here -->

<!-- Text and Description Start for Tally -->
<div style="background-color: #e7eaf6;" class="container-fluid py-5 wow fadeInUp bgti" data-wow-delay="0.1s">
  <div class="container py-5">

    <!-- First Component -->
    <div class="row g-5">
      <div class="col-lg-7">
        <div class="section-title position-relative pb-3 mb-5">
          <h5 class="fw-bold text-primary text-uppercase">About Tally Prime</h5>
          <h1 class="mb-0">Why Tally Prime ?</h1>
        </div>
        <p class="mb-4">
          At Tally, we believe in the power of technology to make business
          owners efficient, empowered and happier, so they can focus on what
          matters most for their business. We design our products to focus on
          just that - to make our products work for you, and not the other way
          around.
        </p>
        <p>
          TallyPrime takes this to a new level, making your start to automation,
          or your switch to Tally simpler than ever before. You can discover the
          product much more easily and make the product do more for you, without
          learning anything new. There is greater flexibility as the product
          adapts to your business and your way of working. And the overall look
          and feel will only make you love the product even more.
        </p>
      </div>
      <div class="col-lg-5" style="min-height: 500px">
        <div class="position-relative h-100">
          <img
            class="position-absolute w-100 h-100 rounded wow zoomIn"
            data-wow-delay="0.9s"
            src="{% static 'img/TallyPrime.svg' %}"
            style="object-fit: contain"
          />
        </div>
      </div>
    </div>

    <!-- Second Component -->
    <div class="row g-5 mt-5">
      <!-- Image Column Now on the Left -->
      <div class="col-lg-5" style="min-height: 500px">
        <div class="position-relative h-100">
          <img
            class="position-absolute w-100 h-100 rounded wow zoomIn"
            data-wow-delay="0.9s"
            src="{% static 'img/TallyPrime2.svg' %}"
            style="object-fit: contain"
          />
        </div>
      </div>
      <!-- Text Column Now on the Right -->
      <div class="col-lg-7">
        <div class="section-title position-relative pb-3 mb-5">
          <h1 class="mb-0">Simple to learn, easier to use</h1>
        </div>
        <p class="mb-4">
          Getting started with TallyPrime is extremely simple. You can setup the application in less than a minute and get started with invoicing even faster. It just works the way you expect it to. And with the consistency and intuitiveness in design, you will be able to discover more and learn easily, as you are using TallyPrime.
        </p>
      </div>
    </div>

    <!-- Third Component -->
    <div class="row g-5 mt-5">
      <div class="col-lg-7">
        <div class="section-title position-relative pb-3 mb-5">
          <h1 class="mb-0">Insightful, actionable & customizable reports</h1>
        </div>
        <p class="mb-4">
          TallyPrime comes with a diverse set of readily available business reports with powerful and actionable insights, helping you make informed decisions for your business growth. Be it business relationships, cash or inventory, these reports will help you manage all these aspects better with extremely easy discovery and navigation.
        </p>
      </div>
      <div class="col-lg-5" style="min-height: 500px">
        <div class="position-relative h-100">
          <img
            class="position-absolute w-100 h-100 rounded wow zoomIn"
            data-wow-delay="0.9s"
            src="{% static 'img/TallyPrime3.svg' %}"
            style="object-fit: contain"
          />
        </div>
      </div>
    </div>

    <!-- Fourth Component -->
    <div class="row g-5 mt-5">
      <!-- Image Column Now on the Left -->
      <div class="col-lg-5" style="min-height: 500px">
        <div class="position-relative h-100">
          <img
            class="position-absolute w-100 h-100 rounded wow zoomIn"
            data-wow-delay="0.9s"
            src="{% static 'img/TallyPrime4.svg' %}"
            style="object-fit: contain"
          />
        </div>
      </div>
      <!-- Text Column Now on the Right -->
      <div class="col-lg-7">
        <div class="section-title position-relative pb-3 mb-5">
          <h1 class="mb-0">Anywhere, anytime and secure access</h1>
        </div>
        <p class="mb-4">
          With TallyPrime, you can access business reports from a web browser, wherever you are, and with the promise that your data is available only to you. This comes along with multiple user and feature-based security levels. And an additional layer of security called TallyVault, that ensures encryption which no one in the world can break, not even us at Tally.
        </p>
        <div class="d-flex align-items-center mb-4 wow fadeIn" data-wow-delay="0.6s">
          <div class="bg-primary d-flex align-items-center justify-content-center rounded" style="width: 60px; height: 60px">
            <i class="fa fa-phone-alt text-white"></i>
          </div>
          <div class="ps-4">
            <h5 class="mb-2">Call to ask any question</h5>
            <h4 class="text-primary mb-0">+91 7977801547</h4>
          </div>
        </div>
        <a href="/contact" class="btn btn-primary py-3 px-5 mt-3 wow zoomIn" data-wow-delay="0.9s">Contact Us</a>
      </div>
    </div>

    <!-- do more with tally prime heading component start -->
    <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
        <h5 class="fw-bold text-primary text-uppercase">Tally Prime</h5>
        <h1 class="mb-0">Do More With Tally Prime</h1>
    </div>
    <!-- do more with tally prime heading component end -->

    <!-- first text with video component start -->
    <div  class="row g-5 mt-5">
      <div class="col-lg-7">
          <p class="mb-4">
              TallyPrime is designed to streamline and enhance payment processes for MSMEs, ensuring compliance with MSME regulations. Registered MSMEs can easily print their UDYAM registration number, track upcoming or delayed receivables, and send timely reminders to manage their cash flow effectively. For businesses engaging with MSMEs, TallyPrime provides a straightforward way to identify upcoming payables, monitor due dates, and use the ‘MSME Form -1’ to report overdue bills. This integration helps maintain transparency and efficiency in transactions, supporting better financial management and adherence to MSME guidelines.
          </p>
      </div>
      <div class="col-lg-5" style="min-height: 400px;">
          <div class="position-relative h-100">
              <video style="border-radius: 18px;" class="position-absolute w-100 h-100 rounded wow zoomIn" 
                     autoplay 
                     muted 
                     playsinline 
                     data-wow-delay="0.9s" 
                     src="{% static 'img/TallyPrime1.mp4' %}" 
                     style="object-fit: cover"></video>
          </div>
      </div>
  </div>
  
  <div class="row g-5 mt-5">
      <div class="col-lg-5" style="min-height: 400px;">
          <div class="position-relative h-100">
              <video style="border-radius: 18px;" class="position-absolute w-100 h-100 rounded wow zoomIn" 
                     autoplay 
                     muted 
                     playsinline 
                     data-wow-delay="0.9s" 
                     src="{% static 'img/TallyPrime2.mp4' %}" 
                     style="object-fit: cover"></video>
          </div>
      </div>
      <div class="col-lg-7">
          <p class="mb-4">
              TallyPrime offers a dynamic and powerful reports dashboard, designed to provide a comprehensive overview of your business information through intuitive and customizable visual formats. With TallyPrime, you can effortlessly add and configure tiles to display critical data, hide unnecessary details, and organize the information in a way that aligns with your preferences and business objectives. This flexibility ensures that you can tailor your dashboard to meet your specific needs, making it easier to track performance, analyze trends, and make informed decisions with confidence.
          </p>
      </div>
  </div>
  
  <div class="row g-5 mt-5">
      <div class="col-lg-7">
          <p class="mb-4">
              Effortlessly import your ledgers and transactions from Excel into TallyPrime with just a few simple steps. TallyPrime offers exceptional flexibility, allowing you to import your data seamlessly regardless of how it is organized or structured in Excel. Whether your data is formatted in rows, columns, or any custom layout, TallyPrime’s intuitive import functionality ensures that your information is accurately transferred and integrated, saving you time and reducing manual data entry errors. This ease of use helps streamline your accounting processes and maintain data consistency across your financial systems.
          </p>
      </div>
      <div class="col-lg-5" style="min-height: 400px;">
          <div class="position-relative h-100">
              <video style="border-radius: 18px;" class="position-absolute w-100 h-100 rounded wow zoomIn" 
                     autoplay 
                     muted 
                     playsinline 
                     data-wow-delay="0.9s" 
                     src="{% static 'img/TallyPrime3.mp4' %}" 
                     style="object-fit: cover"></video>
          </div>
      </div>
  </div>
  
  <div class="row g-5 mt-5">
      <div class="col-lg-5" style="min-height: 400px;">
          <div class="position-relative h-100">
              <video style="border-radius: 18px;" class="position-absolute w-100 h-100 rounded wow zoomIn" 
                     autoplay 
                     muted 
                     playsinline 
                     data-wow-delay="0.9s" 
                     src="{% static 'img/TallyPrime4.mp4' %}" 
                     style="object-fit: cover"></video>
          </div>
      </div>
      <div class="col-lg-7">
          <p class="mb-4">
              Using TallyPrime's fully connected service, you can effortlessly generate e-way bills and e-invoices in real time, whether for a single invoice or multiple invoices. TallyPrime offers direct integration with the relevant portals, enabling seamless and automatic generation of e-invoices and e-way bills. This eliminates the need for manual intervention, streamlining your compliance processes and saving you valuable time. With TallyPrime, you can ensure accuracy and efficiency in your invoicing and transportation documentation, allowing you to focus on running your business.
          </p>
      </div>
  </div>
  

    <!-- fourth text with video end -->

  </div>
</div>
<!-- Text and Description ends for Tally -->





<!-- Tally Products List Start here -->



<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h5 class="fw-bold text-primary text-uppercase">Tally Prime Products </h5>
        </div>
        <div class="row g-0">
            <div style="margin-right: 150px;margin-left: 60px;" class="col-lg-4 wow slideInUp"
                data-wow-delay="0.6s">
                <div class="bg-light rounded">
                    <div class="border-bottom py-4 px-5 mb-4">
                        <h4 class="text-primary mb-1">Tally Prime Silver</h4>
                        <small class="text-uppercase">Tally Prime Silver List</small>
                    </div>
                    <div class="p-5 pt-0">
                        <h1 class="display-5 mb-3">
                            <!-- <small class="align-top" style="font-size: 22px; line-height: 45px;">$</small>49.00<small
                                class="align-bottom" style="font-size: 16px; line-height: 40px;">/ Month</small> -->
                        </h1>
                        <div class="d-flex justify-content-between mb-3"><span>Single-User Edition</span><i
                                class="fa fa-check text-primary pt-1"></i></div>
                        <div class="d-flex justify-content-between mb-3"><span>Limited Users</span><i
                                class="fa fa-check text-primary pt-1"></i></div>
                        <div class="d-flex justify-content-between mb-3"><span>Ideal For Small Business</span><i
                                class="fa fa-check text-primary pt-1"></i></div>
                        <!-- <div class="d-flex justify-content-between mb-2"><span>Tally On Cloud</span><i
                                class="fa fa-check text-primary pt-1"></i></div> -->
                        <a href="/contact" class="btn btn-primary py-2 px-4 mt-4">Buy Now</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.9s">
                <div class="bg-light rounded">
                    <div class="border-bottom py-4 px-5 mb-4">
                        <h4 class="text-primary mb-1">Tally Prime Gold</h4>
                        <small class="text-uppercase">Tally Prime Gold List</small>
                    </div>
                    <div class="p-5 pt-0">
                        <h1 class="display-5 mb-3">
                            <!-- <small class="align-top" style="font-size: 22px; line-height: 45px;">$</small>149.00<small
                                class="align-bottom" style="font-size: 16px; line-height: 40px;">/ Month</small> -->
                        </h1>
                        <div class="d-flex justify-content-between mb-3"><span>Multi-User Edition</span><i
                                class="fa fa-check text-primary pt-1"></i></div>
                        <div class="d-flex justify-content-between mb-3"><span>Concurrent Users</span><i
                                class="fa fa-check text-primary pt-1"></i></div>
                        <div class="d-flex justify-content-between mb-3"><span>Ideal For Big Business</span><i
                                class="fa fa-check text-primary pt-1"></i></div>
                        <!-- <div class="d-flex justify-content-between mb-2"><span>Tally Synchronization</span><i
                                class="fa fa-check text-primary pt-1"></i></div> -->
                        <a href="/contact" class="btn btn-primary py-2 px-4 mt-4">Buy Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Tally Products List End here -->



<!-- Full Screen Search Start -->
<div class="modal fade" id="searchModal" tabindex="-1">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content" style="background: rgba(9, 30, 62, 0.7)">
      <div class="modal-header border-0">
        <button
          type="button"
          class="btn bg-white btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body d-flex align-items-center justify-content-center">
        <div class="input-group" style="max-width: 600px">
          <input
            type="text"
            class="form-control bg-transparent border-primary p-3"
            placeholder="Type search keyword"
          />
          <button class="btn btn-primary px-4">
            <i class="bi bi-search"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Full Screen Search End -->

<!-- footer starts here -->
{% include 'footer.html' %}
<!-- footer ends here -->
