<!-- loading static and including navbar start -->
 {%load static%}
 {%include 'navbar.html' %}
<!-- loading static and including navbar end -->

<!-- style start -->
<style>
    .custom-image-size {
        width: 60%; /* Adjust width as needed */
        height: auto; /* Maintain aspect ratio */
        max-width: 300px; /* Set a maximum width */
        object-fit: contain; /* Maintain aspect ratio */
    }
    .flex-container {
        display: flex;
        align-items: center; /* Vertically center the items */
        gap: 40px; /* Adjust spacing between image and text */
    }
    .flex-container img {
        border-radius: 18px;
    }

    .mac {
        margin-top: 200px;
    }
</style>
<!-- style end -->

<!-- what is tally start -->
<div style="background-color: #e7eaf6" class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h1 class="mb-0">What is Tally On Mobile ?</h1>
        </div>
        
        <!-- image and description about tally on mobile start -->
        <div class="flex-container">
            <!-- Image Column -->
            <img
              class="custom-image-size wow zoomIn"
              data-wow-delay="0.9s"
              src="{% static 'img/tmobile2.png' %}"
              style="object-fit: cover;"
            />
            <!-- Text Column -->
            <div>
              <p class="mb-4">
                Multiple users will be able to simultaneously load companies, save
                transactions, export reports, print reports, import data, take
                backup, and perform other data-related activities without
                experiencing any downtime. This will directly result in optimal
                utilization of man-hours as the velocity at which a task gets
                completed will increase. Further, the users will be able to
                seamlessly work on the same data. Your Data will always be
                real-time, consistent, and accurate.
              </p>
            </div>
        </div>
      
        <!-- image and description about tally on mobile end -->



        
<!-- Accordion for Tally Information start -->



<div class="accordion accordion-flush mac" id="accordionFlushExample">
    <h1 class="mb-5 text-uppercase" style="text-align: center;">Features Of Tally On Mobile</h1>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            CONNECTIVITY
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Stay connected to your business. Always … No dependency on accountant Track your business anytime, anywhere It’s 2020. Make smart data driven decisions.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            REMINDERS
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Send Outstanding Reminders and Get Paid faster . Share payment reminders via email, WhatsApp SMS with few taps Unto 50% reduction in payment delays Avoid poor cashflow because of delays in payments.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            TEAM PRODUCTIVITY
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Increase sales team productivity outstanding followup with their customers. Create sales orders, receipts while visiting customer Easily Give/remove Restricted access to the sales team</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
            DATA ENTRY
        </button>
      </h2>
      <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Data Entry from App … Create Sales/Purchase Orders, Receipts, Payments from the app Syncs automatically with Tally Share instantly via Whatsapp, Email, SMS and more Save time & reduce errors.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingFive">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
            ANALYSE
        </button>
      </h2>
      <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Analyse & Grow your Sales. Analyse your sales by location, stock item, month and more Follow up with inactive customers who have not ordered for a while Detailed Sales Analysis at the customer level Upsell stock items that you have not sold.</div>
      </div>
    </div>
</div>

<!-- Accordion for Tally Information end -->

<!-- Download Application for Android and IPHONE users start -->

<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h5 class="fw-bold text-primary text-uppercase">Download Moblie App Now!!!</h5>
            <p class="mb-0">Mobile app To get Your Tally On Your Mobile You need to Download Biz Analyst</p>
        </div>
        <div class="row g-0">
            <div style="margin-right: 150px;margin-left: 150px;" class="col-lg-4 wow slideInUp"
                data-wow-delay="0.6s">
                <div class="bg-light rounded">
                    <div class="border-bottom py-4 px-5 mb-4">
                        <h4 class="text-primary mb-1">Android Users</h4>
                        <!-- <small class="text-uppercase">release 4.1</small> -->
                    </div>
                    <div class="p-5 pt-0">
                        <h1 class="display-5 mb-3">
                            <!-- <small class="align-top" style="font-size: 22px; line-height: 45px;">$</small>49.00<small
                                class="align-bottom" style="font-size: 16px; line-height: 40px;">/ Month</small> -->
                        </h1>
                        
                        <a href="https://play.google.com/store/apps/details?id=in.bizanalyst&referrer=utm_source%3Dwebsite%26utm_medium%3Dhome%26utm_campaign%3Dwebsite-lead%26utm_content%3Dhero-image%26utm_term%3Dnone" class="btn btn-primary py-2 px-4 mt-4">Download</a>

                    </div>
                </div>
            </div>

            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.9s">
                <div class="bg-light rounded">
                    <div class="border-bottom py-4 px-5 mb-4">
                        <h4 class="text-primary mb-1">IPhone Users</h4>
                        <!-- <small class="text-uppercase">release 4.1</small> -->
                    </div>
                    <div class="p-5 pt-0">
                        <h1 class="display-5 mb-3">
                            <!-- <small class="align-top" style="font-size: 22px; line-height: 45px;">$</small>149.00<small
                                class="align-bottom" style="font-size: 16px; line-height: 40px;">/ Month</small> -->
                        </h1>
                        
                        <a href="https://apps.apple.com/in/app/biz-analyst-app-for-tally-user/id1164789740" class="btn btn-primary py-2 px-4 mt-4">Download</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


 
<!-- Download Application for Android and IPHONE users end -->
        

    </div>
    
</div>
<!-- what is tally end -->



<!-- Contact Start -->
{%include 'contactinfo.html'%}
<!-- Contact End -->








<!-- including footer start -->
 {%include 'footer.html'%}
<!-- including footer end -->