<!-- loading static and including navbar start -->
 {%load static%}
 {%include 'navbar.html' %}
<!-- loading static and including navbar end -->

<!-- style start -->
<style>
    .custom-image-size {
        width: 60%; /* Adjust width as needed */
        height: auto; /* Maintain aspect ratio */
        max-width: 300px; /* Set a maximum width */
        object-fit: contain; /* Maintain aspect ratio */
    }
    .flex-container {
        display: flex;
        align-items: center; /* Vertically center the items */
        gap: 40px; /* Adjust spacing between image and text */
    }
    .flex-container img {
        border-radius: 18px;
    }

    .mac {
        margin-top: 200px;
    }
</style>
<!-- style end -->

<!-- what is tally start -->
<div style="background-color: #e7eaf6" class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h1 class="mb-0">What is Tally On Mobile ?</h1>
        </div>
        
        <!-- image and description about tally on mobile start -->
        <div class="flex-container">
            <!-- Image Column -->
            <img
              class="custom-image-size wow zoomIn"
              data-wow-delay="0.9s"
              src="{% static 'img/tmobile2.png' %}"
              style="object-fit: cover;"
            />
            <!-- Text Column -->
            <div>
              <p class="mb-4">
                Multiple users will be able to simultaneously load companies, save
                transactions, export reports, print reports, import data, take
                backup, and perform other data-related activities without
                experiencing any downtime. This will directly result in optimal
                utilization of man-hours as the velocity at which a task gets
                completed will increase. Further, the users will be able to
                seamlessly work on the same data. Your Data will always be
                real-time, consistent, and accurate.
              </p>
            </div>
        </div>
      
        <!-- image and description about tally on mobile end -->



        
<!-- Accordion for Tally Information start -->



<div class="accordion accordion-flush mac" id="accordionFlushExample">
    <h1 class="mb-5 text-uppercase" style="text-align: center;">Features Of Tally On Mobile</h1>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            CONNECTIVITY
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Stay connected to your business. Always … No dependency on accountant Track your business anytime, anywhere It’s 2020. Make smart data driven decisions.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            REMINDERS
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Send Outstanding Reminders and Get Paid faster . Share payment reminders via email, WhatsApp SMS with few taps Unto 50% reduction in payment delays Avoid poor cashflow because of delays in payments.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            TEAM PRODUCTIVITY
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Increase sales team productivity outstanding followup with their customers. Create sales orders, receipts while visiting customer Easily Give/remove Restricted access to the sales team</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
            DATA ENTRY
        </button>
      </h2>
      <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Data Entry from App … Create Sales/Purchase Orders, Receipts, Payments from the app Syncs automatically with Tally Share instantly via Whatsapp, Email, SMS and more Save time & reduce errors.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingFive">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
            ANALYSE
        </button>
      </h2>
      <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Analyse & Grow your Sales. Analyse your sales by location, stock item, month and more Follow up with inactive customers who have not ordered for a while Detailed Sales Analysis at the customer level Upsell stock items that you have not sold.</div>
      </div>
    </div>
</div>

<!-- Accordion for Tally Information end -->

<!-- Download Application for Android and IPHONE users start -->

<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h5 class="fw-bold text-primary text-uppercase">Download Moblie App Now!!!</h5>
            <p class="mb-0">Mobile app To get Your Tally On Your Mobile You need to Download Biz Analyst</p>
        </div>
        <div class="row g-0">
            <div style="margin-right: 150px;margin-left: 150px;" class="col-lg-4 wow slideInUp"
                data-wow-delay="0.6s">
                <div class="bg-light rounded">
                    <div class="border-bottom py-4 px-5 mb-4">
                        <h4 class="text-primary mb-1">Android Users</h4>
                        <!-- <small class="text-uppercase">release 4.1</small> -->
                    </div>
                    <div class="p-5 pt-0">
                        <h1 class="display-5 mb-3">
                            <!-- <small class="align-top" style="font-size: 22px; line-height: 45px;">$</small>49.00<small
                                class="align-bottom" style="font-size: 16px; line-height: 40px;">/ Month</small> -->
                        </h1>
                        
                        <a href="https://play.google.com/store/apps/details?id=in.bizanalyst&referrer=utm_source%3Dwebsite%26utm_medium%3Dhome%26utm_campaign%3Dwebsite-lead%26utm_content%3Dhero-image%26utm_term%3Dnone" class="btn btn-primary py-2 px-4 mt-4">Download</a>

                    </div>
                </div>
            </div>

            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.9s">
                <div class="bg-light rounded">
                    <div class="border-bottom py-4 px-5 mb-4">
                        <h4 class="text-primary mb-1">IPhone Users</h4>
                        <!-- <small class="text-uppercase">release 4.1</small> -->
                    </div>
                    <div class="p-5 pt-0">
                        <h1 class="display-5 mb-3">
                            <!-- <small class="align-top" style="font-size: 22px; line-height: 45px;">$</small>149.00<small
                                class="align-bottom" style="font-size: 16px; line-height: 40px;">/ Month</small> -->
                        </h1>
                        
                        <a href="https://apps.apple.com/in/app/biz-analyst-app-for-tally-user/id1164789740" class="btn btn-primary py-2 px-4 mt-4">Download</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


 
<!-- Download Application for Android and IPHONE users end -->
        

    </div>
    
</div>
<!-- what is tally end -->



<!-- Contact Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h5 class="fw-bold text-primary text-uppercase">Contact Us</h5>
            <h1 class="mb-0">If You Have Any Query, Feel Free To Contact Us</h1>
        </div>
        <div class="row g-5 mb-5">
            <div class="col-lg-4">
                <div class="d-flex align-items-center wow fadeIn" data-wow-delay="0.1s">
                    <div class="bg-primary d-flex align-items-center justify-content-center rounded" style="width: 60px; height: 60px;">
                        <i class="fa fa-phone-alt text-white"></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="mb-2">Call to ask any question</h5>
                        <h4 class="text-primary mb-0">+91 9029005996</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="d-flex align-items-center wow fadeIn" data-wow-delay="0.4s">
                    <div class="bg-primary d-flex align-items-center justify-content-center rounded" style="width: 60px; height: 60px;">
                        <i class="fa fa-envelope-open text-white"></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="mb-2">Email to get free quote</h5>
                        <h4 class="text-primary mb-0">ajayinfotech20@gmail.com</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="d-flex align-items-center wow fadeIn" data-wow-delay="0.8s">
                    <div class="bg-primary d-flex align-items-center justify-content-center rounded" style="width: 60px; height: 60px;">
                        <i class="fa fa-map-marker-alt text-white"></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="mb-2">Visit our office</h5>
                        <h4 class="text-primary mb-0">004, C-14, Anubhav Shanti Nagar, Sector 5, Mira Road East</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-5">
            <div class="col-lg-6 wow slideInUp" data-wow-delay="0.3s">
                <form>
                    <div class="row g-3">
                        <div class="col-md-6">
                            <input type="text" class="form-control border-0 bg-light px-4" placeholder="Your Name" style="height: 55px;">
                        </div>
                        <div class="col-md-6">
                            <input type="email" class="form-control border-0 bg-light px-4" placeholder="Your Email" style="height: 55px;">
                        </div>
                        <div class="col-12">
                            <input type="text" class="form-control border-0 bg-light px-4" placeholder="Subject" style="height: 55px;">
                        </div>
                        <div class="col-12">
                            <textarea class="form-control border-0 bg-light px-4 py-3" rows="4" placeholder="Message"></textarea>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3" type="submit">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-6 wow slideInUp" data-wow-delay="0.6s">
                <!-- <iframe class="position-relative rounded w-100 h-100"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3001156.4288297426!2d-78.01371936852176!3d42.72876761954724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ccc4bf0f123a5a9%3A0xddcfc6c1de189567!2sNew%20York%2C%20USA!5e0!3m2!1sen!2sbd!4v1603794290143!5m2!1sen!2sbd"
                    frameborder="0" style="min-height: 350px; border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe> -->
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3765.9871146921205!2d72.86108107495942!3d19.282926545444326!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b04588c3dbdd%3A0x8d33035a76531dc9!2sAnubhav%20shanti%20nagar%20CHS%20Ltd.!5e0!3m2!1sen!2sin!4v1723464977821!5m2!1sen!2sin" frameborder="0" style="min-height: 350px; border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->








<!-- including footer start -->
 {%include 'footer.html'%}
<!-- including footer end -->