{%load static%} {%include 'navbar.html'%}
<div class="container-fluid bg-primary py-5 bg-header">
  <div class="row py-5">
      <div class="col-12 pt-lg-5 mt-lg-5 text-center">
          <h1 class="display-4 text-white animated zoomIn">Tally Prime Server</h1>
          <!-- <a href="" class="h5 text-white">Home</a>
          <i class="far fa-circle text-white px-2"></i>
          <a href="" class="h5 text-white">Services</a> -->
      </div>
  </div>
</div>
</div>
<!-- Internal Styles -->
<style>
  /* Tally Prime server start */
  .tpsimg {
    display: flex;
    justify-content: center;
  }

  .custom-image-size {
    width: 80%; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    max-width: 400px; /* Set a maximum width */
    object-fit: contain; /* Maintain aspect ratio */
  }

  /* Tally Prime server end */
</style>

<!-- Tally Prime Server Section Start -->
<div
  style="background-color: #e7eaf6"
  class="container-fluid py-5 wow fadeInUp"
  data-wow-delay="0.1s"
>
  <div class="container py-5">
    <!-- Title and Paragraph about Tally Prime Server -->
    <div
      class="section-title text-center position-relative pb-3 mb-5 mx-auto"
      style="max-width: 600px"
    >
      <h5 class="fw-bold text-primary text-uppercase">Tally Prime Server</h5>
      <p class="mb-0">
        Unleash the power of TallyPrime with a Client-Server Architecture
      </p>
      <br />
      <p class="mb-0">
        TallyPrime Server offers powerful data server capabilities over the Gold
        license. This server-based Data Architecture unleashes greater
        concurrency, secured data access, and advanced monitoring capabilities.
        TallyPrime Server is truly an Enterprise Class product that helps
        fast-growing medium and large businesses improve their business
        efficiencies.
      </p>
    </div>

    <!-- Tally Prime Server Image -->
    <div class="tpsimg">
      <img src="{% static 'img/tpserver1.png' %}" alt="Tally Prime Server" />
    </div>
    <br /><br />


    

    <!-- Description and Image Section start -->
    <div
      class="container-fluid custom-description-image py-5 wow fadeInUp"
      data-wow-delay="0.1s"
    >
    
      <div class="container py-5">
        <strong><h3 style="text-align: center;" class="mb-0 text-uppercase section-title ">Key Benefits</h3></strong>
        <!-- first Component -->
        <div class="row g-5 mt-5">
          <!-- Image Column Now on the Left -->
          <div class="col-lg-5" style="min-height: 500px">
            <div class="position-relative h-100">
              <img
                class="position-absolute w-100 h-100 rounded custom-image-size wow zoomIn"
                data-wow-delay="0.9s"
                src="{% static 'img/tpserver2.png' %}"
              />
            </div>
          </div>
          <!-- Text Column Now on the Right -->
          <div class="col-lg-7">
            <div class="section-title position-relative pb-3 mb-5">
              <h1 class="mb-0">High Concurrency</h1>
              <strong
                ><p class="mb-0">
                  Performing operations in a frictionless environment
                </p></strong
              >
            </div>
            <p class="mb-4">
              Multiple users will be able to simultaneously load companies, save
              transactions, export reports, print reports, import data, take
              backup, and perform other data-related activities without
              experiencing any downtime. This will directly result in optimal
              utilization of man-hours as the velocity at which a task gets
              completed will increase. Further, the users will be able to
              seamlessly work on the same data. Your Data will always be
              real-time, consistent, and accurate.
            </p>
          </div>
        </div>

        <!-- second Component -->
        <div class="row g-5 mt-5">
          <div class="col-lg-7">
            <div class="section-title position-relative pb-3 mb-5">
              <h1 class="mb-0">Secured by Design</h1>
              <strong
                ><p class="mb-0">
                  Providing controlled access to data files
                </p></strong
              >
            </div>
            <p class="mb-4">
              When data files are managed through TallyPrime Server, the
              location of the data on the server is not required. The name of
              the data server is sufficient to access and operate TallyPrime.
              Operations over the company data like backup and restore are
              controlled with server-level permissions available with
              authorization only. This ensures better control over user access
              to data.
            </p>
          </div>
          <div class="col-lg-5" style="min-height: 500px">
            <div class="position-relative h-100">
              <img
                class="position-absolute w-100 h-100 rounded custom-image-size wow zoomIn"
                data-wow-delay="0.9s"
                src="{% static 'img/tpserver3.png' %}"
              />
            </div>
          </div>
        </div>

        <!-- Third Component -->
        <div class="row g-5 mt-5">
          <!-- Image Column Now on the Left -->
          <div class="col-lg-5" style="min-height: 500px">
            <div class="position-relative h-100">
              <img
                class="position-absolute w-100 h-100 rounded custom-image-size wow zoomIn"
                data-wow-delay="0.9s"
                src="{% static 'img/tpserver4.png' %}"
              />
            </div>
          </div>
          <!-- Text Column Now on the Right -->
          <div class="col-lg-7">
            <div class="section-title position-relative pb-3 mb-5">
              <h1 class="mb-0">High Reliability</h1>
              <p class="mb-0">Minimizing instances of system unavailability</p>
            </div>
            <p class="mb-4">
              Continue recording transactions or viewing reports while taking
              backup with no compromise on speed or access or accuracy. It also
              limits discrepancies at the client end to the client systems and
              ensures that neither data on the server nor the operations of
              other users get impacted. Thus, it improves work productivity and
              business performance by avoiding disruption of work and ensuring
              zero downtime.
            </p>
          </div>
        </div>

        <!-- Fourth Component -->
        <div class="row g-5 mt-5">
          <div class="col-lg-7">
            <div class="section-title position-relative pb-3 mb-5">
              <h1 class="mb-0">Business Process Optimization</h1>
              <strong
                ><p class="mb-0">
                  Increased Productivity & Business Performance
                </p></strong
              >
            </div>
            <p class="mb-4">
              A comprehensive monitoring capability allows authorized users to
              manage user sessions, such as who is logged in and activities in
              progress. Also, with the ability to track, monitor user
              activities/sessions and even disconnect users, if required, it
              helps to optimize processes or system usage for enhanced
              productivity.
            </p>
          </div>
          <div class="col-lg-5" style="min-height: 500px">
            <div class="position-relative h-100">
              <img
                class="position-absolute w-100 h-100 rounded custom-image-size wow zoomIn"
                data-wow-delay="0.9s"
                src="{% static 'img/tpserver5.png' %}"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Description and Image Section end -->

    <!-- tally is right start -->

    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h3 class="headings">
            Find out if TallyPrime Server is right for your business
          </h3>
          <p class="para-text">
            <b
              >Below are some of the indicative scenarios to help you decide the
              fitment of TallyPrime Server for your business.</b
            >
          </p>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-4">
          <div class="business">
            <img
              src="https://tallysolutions.com/wp-content/uploads/2019/08/Icon-4-Blue.svg"
              class="img-fluid"
              alt="Tally"
            />
            <p class="para-text">
              You are a growing business with 10+ employees performing various
              operations simultaneously
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="business">
            <img
              src="https://tallysolutions.com/wp-content/uploads/2019/08/Icon-4-Blue.svg"
              class="img-fluid"
              alt="Tally"
            />
            <p class="para-text">
              A business where multiple users are connected to the same data and
              there is a need for an administrator to manage the data access and
              also monitor the user’s activities
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="business">
            <img
              src="https://tallysolutions.com/wp-content/uploads/2019/08/Icon-4-Blue.svg"
              class="img-fluid"
              alt="Tally"
            />
            <p class="para-text">
              A business with multiple branches and head office. All the
              transactions of Branch office are consolidated to Head office
              while the local users are still operating smoothly
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- tally is right end -->
  </div>
</div>

<!-- contact start -->
{%include 'contactinfo.html'%}
<!-- contact end -->

<!-- Tally Prime Server Section End -->

<!-- Include footer -->
{% include 'footer.html' %}
