<!-- loading static and including navbar start -->
{%load static%}
{%include 'navbar.html'%}
<div class="container-fluid bg-primary py-5 bg-header">
  <div class="row py-5">
      <div class="col-12 pt-lg-5 mt-lg-5 text-center">
          <h1 class="display-4 text-white animated zoomIn">Tally Synchronization</h1>
          <!-- <a href="" class="h5 text-white">Home</a>
          <i class="far fa-circle text-white px-2"></i>
          <a href="" class="h5 text-white">Services</a> -->
      </div>
  </div>
</div>
</div>
<!-- loading static and including navbar end -->



<!-- Add this CSS style block to your template or a linked CSS file -->
<style>
   .custom-card-height {
     height: 350px; /* Adjust the height as needed */
   }
   .card-text {
     overflow: hidden; /* Ensures that text doesn't overflow */
     text-overflow: ellipsis;
     display: -webkit-box;
     -webkit-box-orient: vertical;
   }
   
 
 
 </style>
 
 <!-- image + description start -->
 <div style="background-color: #e7eaf6" class="container-fluid custom-description-image wow fadeInUp" data-wow-delay="0.1s">
   <div class="container py-5">
 
     <!-- First Component -->
     <div class="row g-5 mt-5">
       <!-- Image Column on the Left -->
       <div class="col-lg-5" style="min-height: 500px">
         <div class="position-relative h-100">
           <img class="position-absolute w-100 h-100 rounded custom-image-size wow zoomIn" data-wow-delay="0.9s" src="{% static 'img/ttraining1.png' %}" alt="Image" />
         </div>
       </div>
 
       <!-- Text Column on the Right -->
       <div class="col-lg-7">
         <div class="section-title position-relative pb-3 mb-5">
           <h1 class="mb-0"> 
            Tally Synchronization</h1>
         </div>
         <p class="mb-4">
            When it comes to distributing Tally applications across several locations, a modular architecture is needed. A traditional configuration can include a corporate headquarters, several branches, warehouses and factories, and sales depots. The usage at different locations varies greatly depending on the type of location and the functionalities to be introduced. For example, the Sales Depot will only wish to join Sales Orders and Cheques Obtained and may need to know the status of their orders and pending dues. The fact that various states have different tax policies contributes to the complexity of enforcement.
         </p>
         <a href="/contact" class="btn btn-primary py-3 px-5 mt-3 wow zoomIn" data-wow-delay="0.9s">Contact Us</a>
       </div>
     </div>
     <br><br><br>


     <!-- About Their Types start -->

     <!-- title start -->

     <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
        <h5 class="fw-bold text-primary text-uppercase">Choose Your Architecture Type:</h5>
        <p class="mb-0">Choose your design type: centralised, decentralised, or hybrid, and we will configure it for your multi-location organisation. Sync data on a regular basis or explicitly insert data into the Central Tally Server.</p>
    </div>

     <!-- title end -->

     <!-- first component start -->

     <div class="container py-5">
        <div class="row g-5">
          <div class="col-lg-7">
            <div class="section-title position-relative pb-3 mb-5">
              <h1 class="mb-0">Decentralised Setup</h1>
            </div>
            <p class="mb-0">
                Tally Data Synchronization capabilities ensure worry-free data sharing between Branches and Head Office in decentralised architecture.
                We will not only do the initial configuration for the Server and Client organisations, but we will also manage it as part of the post-implementation service to ensure data integrity in the most dynamic environments. We have created a method for Masters management to prevent repetition and, as a result, mistakes.
                When Tally is applied at a remote site, security and controls are of the utmost significance and are entirely taken care of, supplemented by the preservation of a transaction log showing the history of modifications needed for auditing.
                
                
            </p>
            <p class="mb-0">
                We also comprehend and design a transaction workflow that includes Verification and Authorization processes as required. For eg, a buying order raised in the factory is sent to the head office for verification before being returned to the factory to be sent to the vendor.


            </p>
          </div>
          <div class="col-lg-5" style="min-height: 550px;">
            <div class="position-relative h-100">
              <img
                class="position-absolute w-100 h-100 rounded wow zoomIn"
                data-wow-delay="0.9s"
                src="{% static 'img/tsync.gif' %}"
                style="object-fit: contain;"
              />
            </div>
          </div>
        </div>

     <!-- first component end -->

     <!-- second component start -->

     <div class="container py-5">
        <div class="row g-5">
          <div class="col-lg-5" style="min-height: 500px">
            <div class="position-relative h-100">
              <img
                class="position-absolute w-100 h-100 rounded wow zoomIn"
                data-wow-delay="0.9s"
                src="{% static 'img/sync1.png' %}"
                style="object-fit: contain"
              />
            </div>
          </div>
          <div class="col-lg-7">
            <div class="section-title position-relative pb-3 mb-5">
              <h1 class="mb-0">Centralized Setup</h1>
            </div>
            <p class="mb-4">
                An ideal setup but only in 100% connected environment through leased line or MPLS or good broadband. It simplifies the data management but requires powerful Server at the centre. We recommends Tally Server 9 or Tally Prime Server to be installed to maintain good performance of the system.
            </p>
          </div>
        </div>
      </div>
      
        <br>
        <br><br><br>

     <!-- second component end -->

     <!-- About Their Types end -->
     <!-- image + description end -->
 
     <!-- Key benefits start here -->
     <h1 class="mb-5 text-uppercase" style="text-align: center">Key Benefits</h1>
 
     <!-- cards for key benefits start -->
     <div class="container">
       <div class="row">
         <!-- Card 1 -->
         <div class="col-md-4">
           <div class="card text-center p-4 rounded mb-4 custom-card-height" >
             <div class="image-wrapper rounded mb-3">
               <img style="height: 50px;width: 50px;" src="{% static 'img/tamc1.svg' %}" class="card-img-top" alt="Image">
             </div>
             <div class="card-body">
               <h5 class="card-title mb-0">Real-time Data Access</h5>
               <p class="card-text mb-0">Synchronization allows for instant access to updated data across multiple locations, ensuring that all branches or users work with the most current information.</p>
             </div>
           </div>
         </div>
 
         <!-- Card 2 -->
         <div class="col-md-4">
           <div class="card text-center p-4 rounded mb-4 custom-card-height">
             <div class="image-wrapper rounded mb-3">
               <img style="height: 50px;width: 50px;" src="{% static 'img/tamc2.svg' %}" class="card-img-top" alt="Image">
             </div>
             <div class="card-body">
               <h5 class="card-title mb-0">Centralized Control</h5>
               <p class="card-text mb-0">It provides a centralized system where data from different locations can be consolidated, enabling better control and management of business operations.</p>
             </div>
           </div>
         </div>
 
         <!-- Card 3 -->
         <div class="col-md-4">
           <div class="card text-center p-4 rounded mb-4 custom-card-height">
             <div class="image-wrapper rounded mb-3">
               <img style="height: 50px;width: 50px;" src="{% static 'img/tamc3.svg' %}" class="card-img-top" alt="Image">
             </div>
             <div class="card-body">
               <h5 class="card-title">Error Reduction</h5>
               <p class="card-text">Automatic synchronization reduces the chances of data entry errors and discrepancies, ensuring consistency and accuracy across all platforms.</p>
             </div>
           </div>
         </div>
 
         <!-- Card 4 -->
         <div class="col-md-4">
           <div class="card text-center p-4 rounded mb-4 custom-card-height">
             <div class="image-wrapper rounded mb-3">
               <img style="height: 50px;width: 50px;" src="{% static 'img/tamc4.svg' %}" class="card-img-top" alt="Image">
             </div>
             <div class="card-body">
               <h5 class="card-title mb-0">Time and Cost Efficiency</h5>
               <p class="card-text mb-0">By automating data updates and sharing, synchronization saves time and reduces the costs associated with manual data handling and communication.</p>
             </div>
           </div>
         </div>
 
         <!-- Card 5 -->
         <div class="col-md-4">
           <div class="card text-center p-4 rounded mb-4 custom-card-height">
             <div class="image-wrapper rounded mb-3">
               <img style="height: 50px;width: 50px;" src="{% static 'img/tamc5.svg' %}" class="card-img-top" alt="Image">
             </div>
             <div class="card-body">
               <h5 class="card-title mb-0">Enhanced Decision-Making</h5>
               <p class="card-text mb-0">With synchronized data, businesses can make faster and more informed decisions based on real-time insights from all branches or departments.</p>
             </div>
           </div>
         </div>
 
         <!-- Card 6 -->
         <div class="col-md-4">
           <div class="card text-center p-4 rounded mb-4 custom-card-height">
             <div class="image-wrapper rounded mb-3">
               <img style="height: 50px;width: 50px;" src="{% static 'img/tamc6.svg' %}" class="card-img-top" alt="Image">
             </div>
             <div class="card-body">
               <h5 class="card-title mb-0">Improved Compliance</h5>
               <p class="card-text mb-0">Synchronization helps maintain accurate records across all branches, ensuring compliance with regulatory requirements and audits.
               </p>
             </div>
           </div>
         </div>
 
       </div>
     </div>
     <!-- cards for key benefits end -->
     <!-- Key benefits end here -->
     <br><br><br>
     <!-- FAQ start -->
 
 
     <!-- accordion for FAQ start -->
 
 
 
             
 <!-- Accordion for Tally Information start -->
 
 
 
 <div class="accordion accordion-flush mac" id="accordionFlushExample">
     <h1 class="mb-5 text-uppercase" style="text-align: center;">FAQ</h1>
     <div class="accordion-item">
       <h2 class="accordion-header" id="flush-headingOne">
         <button class="accordion-button collapsed text-uppercase" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            What is Tally Synchronization?
         </button>
       </h2>
       <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
         <div class="accordion-body">Tally Synchronization is the process of updating and sharing Tally data across multiple locations or branches in real-time, ensuring consistency and accuracy in financial records. 

         </div>
       </div>
     </div>
     <div class="accordion-item">
       <h2 class="accordion-header" id="flush-headingTwo">
         <button class="accordion-button collapsed text-uppercase" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            How does Tally Synchronization work?
         </button>
       </h2>
       <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
         <div class="accordion-body">Tally Synchronization works by automatically syncing data between different Tally installations. Data entered in one location is updated across all connected locations, ensuring that everyone works with the latest information.</div>
       </div>
     </div>
     <div class="accordion-item">
       <h2 class="accordion-header" id="flush-headingThree">
         <button class="accordion-button collapsed text-uppercase" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            What are the benefits of using Tally Synchronization?
         </button>
       </h2>
       <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
         <div class="accordion-body">Key benefits include real-time data access, centralized control, error reduction, time and cost efficiency, improved decision-making, and enhanced collaboration across multiple locations.</div>
       </div>
     </div>
     <div class="accordion-item">
       <h2 class="accordion-header" id="flush-headingFour">
         <button class="accordion-button collapsed text-uppercase" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
            What are the system requirements for Tally Synchronization?
         </button>
       </h2>
       <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
         <div class="accordion-body">When it comes to upgrading your customized Tally software, it's essential to work Tally Synchronization requires Tally.ERP 9 or later versions, a stable internet connection (if synchronizing over the internet), and proper configuration of the synchronization settings in Tally.</div>
       </div>
     </div>
 </div>
 
 <!-- Accordion for Tally Information end -->
 
 
     <!-- accordion for FAQ end -->
     <!-- FAQ end -->
 
   </div>
 </div>
 <!-- tally synchronization page end -->
 
 
 <!-- Contact Start -->
 {%include 'contactinfo.html'%}
 <!-- Contact End -->




<!-- including footer start -->

{%include 'footer.html'%}

<!-- including footer end -->